h2 {
            color: red;
        }
        p {
            color: darkmagenta;
        }

        /* id selector */
        #head-2{
            color:green;
            font-size: 40px;
        }

        /* class selector */
        .theme-font{
            color: brown;
            text-align: center;
        }
